[submodule "backend"]
	path = backend
	url = https://github.com/letrung2004/E_Commerce-Server.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/letrung2004/E_Commerce-Frontend.git
